# **Семинар 1. Базовые типы данных. Методы работы со строками, списками**

## Ввод/вывод

### Задание 1

Вводим два любых значения с клавиатуры. Программа должна перед и после каждого значения, которое вы ввели, ставить нижнее подчеркивание.

Ввод:

мне
ок

Вывод:

Ответ:_мне_ок_

In [ ]:
a=input() #вводим переменную 1
b=input() #вводим переменную 2
print(a, b)

3
5
3 5

In [ ]:
print(f"_{a}_{b}_")

_4_5_

In [ ]:
print("_{a}_{b}_")

_{a}_{b}_

In [ ]:
print("_",a,"_", b, "_")

_ 4 _ 5 _

In [ ]:
print(type(a))

<class 'str'>

## Строки

### Задание 1
Переменная 1 = число, переменная 2 = слово, переменная 3 = знак препинания. 

**Ввод**

90

stop

!

**Вывод**

stop90!

In [ ]:
a=input()
b=input()
c=input()
print(b+a+c)

g
f
d
fgd

**Ввод**

90

stop

!

**Вывод**

9090!

In [ ]:
print(a*2+c)

ggd

### Задание 2
Вводим с клавиатуры значение строки длиной 9 символов. Вводим число от 0 до 8 с клавиатуры (это индекс).

In [ ]:
a=input()
number=int(input())

123456789
5

Вывести символ соответствующий этому индексу

**Ввод**

ваовтомто

1

**Вывод**

а

In [ ]:
print(a[number])

6


Сделать срез с 2 элемента по 8 элемент

**Ввод**

ваовтомто

1

**Вывод**

аовтомт

In [ ]:
print(a[1:8])

2345678

Вывести каждый третий символ, начиная с 2 элемента

**Ввод**

ваовтомто

1

**Вывод**

атт

In [ ]:
print(a[1::3])

258

## Числа

### Задание 1
Вводим вещественное и целое число. Перемножаем их. Сколько раз в получившемся произведении повторяется число 5?

**Ввод**

0.25

7

**Вывод**

1

In [ ]:
a=float(input())
b=int(input())
c=a*b
c=str(c)
print(c.count("5"))

6
25
1

## Списки
Создайте список содержащий информацию о планетах нашей Солнечной системы. (Меркурий, Венера, Земля, Марс, Юпитер, Сатурн, Уран, Нептун)

In [ ]:
planets=['Меркурий', 'Венера', 'Земля',
         'Марс', 'Юпитер', 'Сатурн', 'Уран', 'Нептун']

### Задание 1
Вывести 5 планету/4 с конца планету Солнечной системы (двумя способами)

**Вывод**

Юпитер

**HINT: нумерация элементов списка начинается с 0**

In [ ]:
planets[4]

'Юпитер'

In [ ]:
planets[-4]

'Юпитер'

### Задание 2
Вывести планеты с 2 по 4

**Вывод**

['Венера', 'Земля', 'Марс']

In [ ]:
planets[1:4]

['Венера', 'Земля', 'Марс']

### Задание 3
Вывести планеты начиная с 5/4 последних планеты (двумя способами)

**Вывод**

['Юпитер', 'Сатурн', 'Уран', 'Нептун']

In [ ]:
planets[4::]

['Юпитер', 'Сатурн', 'Уран', 'Нептун']

In [ ]:
planets[-4::]

['Юпитер', 'Сатурн', 'Уран', 'Нептун']

### Задание 4
Заменить название 4 планеты СС на «Сникерс»

In [ ]:
planets[3]= 'Сникерс'
planets

['Меркурий',
 'Венера',
 'Земля',
 'Сникерс',
 'Юпитер',
 'Сатурн',
 'Уран',
 'Нептун']

### Задание 5
Заменить название первых 3 планет следующим образом: Мер, Вен, Зем

In [ ]:
planets[:2]=['Мер', 'Вен', 'Зем']
planets

['Мер',
 'Вен',
 'Зем',
 'Зем',
 'Земля',
 'Сникерс',
 'Юпитер',
 'Сатурн',
 'Уран',
 'Нептун']

### Задание 6
Вернуть первым 4 планетам исходные названия

In [ ]:
planets['Мер']= 'Меркурий'
planets['Вен']= 'Венера'
planets['Сникерс'] = 'Марс'
planets

TypeError: ignored

### Задание 7
Посчитать количество планет в списке с помощью функции `len()`

In [ ]:
len(planets)

8

### Задание 8
Отсортировать планеты СС в алфавитном порядке с помощью метода `sorted()`

In [ ]:
sorted(planets)

['Вен', 'Земля', 'Мер', 'Нептун', 'Сатурн', 'Сникерс', 'Уран', 'Юпитер']

### Задание 9
Добавить в наш список планет еще Плутон, с помощью метода `.append()`

In [ ]:
planets.append('Плутон')

In [ ]:
planets

['Мер',
 'Вен',
 'Земля',
 'Сникерс',
 'Юпитер',
 'Сатурн',
 'Уран',
 'Нептун',
 'Плутон',
 'Плутон']

### Задание 10
Удалить Плутон из списка с  помощью метода `.pop()` (удаляет последний элемент в списке), либо с помощью `.remove()`

In [ ]:
planets.pop()

'Плутон'

In [ ]:
planets

['Мер',
 'Вен',
 'Земля',
 'Сникерс',
 'Юпитер',
 'Сатурн',
 'Уран',
 'Нептун',
 'Плутон']

In [ ]:
planets.remove(planets[-1])

In [ ]:
planets

['Мер', 'Вен', 'Земля', 'Сникерс', 'Юпитер', 'Сатурн', 'Уран', 'Нептун']

In [ ]:
planets.remove('Нептун')
planets

['Мер', 'Вен', 'Земля', 'Сникерс', 'Юпитер', 'Сатурн', 'Уран']

### Задание 11
Найти какой по счету Сатурн в солнечной системе с помощью метода `.index()`

**HINT: Не забываем что нумерация объектов списка начинается с 0**

In [ ]:
planets.index('Сатурн')+1

6

## Тренировка

### Задача 1. Время
Дано число n. С начала суток прошло n минут. Определите, сколько часов и минут будут показывать электронные часы в этот момент. Программа должна вывести два числа: количество часов (от 0 до 23) и количество минут (от 0 до 59). Учтите, что число n может быть больше, чем количество минут в сутках.

**Ввод**

150

**Вывод**

2 30

**Ввод**

1441

**Вывод**

0 1

**Ввод**

2000

**Вывод**

9 20

###Задача 2. Строки
Дана строка, состоящая из слов, разделенных пробелами. Определите, сколько в ней слов. Используйте для решения задачи метод `.count()`

**Ввод**

Hello world

**Вывод**

2

### Задача 3. Строки
Дана строка, состоящая ровно из двух слов, разделенных пробелом. Переставьте эти слова местами. Результат запишите в строку и выведите получившуюся строку.

**Ввод**

Hello, world!

**Вывод**

world! Hello,

### Задача 4. Строки/Операции с числами
Дано натуральное число. Выведите его последнюю цифру.

In [ ]:
#Через строки

In [ ]:
#Через операцию с цифрой

###Задача 5. Строки/Операции с числами
Дано положительное действительное число X. Выведите его дробную часть.

In [ ]:
#Через строки

In [ ]:
#Через операцию с числами

###Задача 6. Строки/Операции с числами
Дано положительное действительное число X. Выведите его первую цифру после десятичной точки.

In [ ]:
#Через строки

In [ ]:
#Через операцию с числами